<div class="main-div">
    <div class="image-div">
        <img src="assets/images/background.jpg" alt="background">
    </div>
    <div class="buttons-div">
        <div class="head-div">
            <h1>hello, {{username}}</h1>
            <br/>
        </div>
        <div class="buttons">
            <button type="button" class="logoutButton" (click)="doLogout()">Logout</button>
            <button type="button" class="editButton" (click)="doEdit()">Edit</button>
            <button type="button" class="deleteButton" (click)="doDelete()">Delete</button>
        </div>
    </div>
</div>